li { list-style:none;}
* { margin: 0; padding: 0; box-sizing: border-box;} 
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.menu {
  width: 80px;
}
.container {
  width: 100%;
}
.portFolio {
  text-align: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}


.left {
  width: 30%;
  height: 100vh;
  background-color: antiquewhite;
}
.right {
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
  background-color: beige;
}
.right .sec {
  width: 100%;
  height: 100vh;
  
}
.right .sec:nth-child(1){
  background-color: rgb(207, 240, 240);
}
.right .sec:nth-child(2){
  background-color: rgb(175, 221, 186);
}
.right .sec:nth-child(3){
  background-color: rgb(189, 205, 244);
}
.right .sec:nth-child(4){
  background-color: rgb(245, 218, 253);
}